body {
    margin: 0;
    background-color: rgb(147, 159, 192);
    font-size: 14px;
}

#imie {
    margin-right: 50px;
    float: left;
}

#mieszkanie {
    float: left;
    margin-right: 50px;
}

#miasto {
    float: left;
}

#wiek {
    float: left;
    margin-right: 50px;
}

#opis {
    float: right;
}

#wyslanie {
    float: left;
    margin-right: 50px;
}

#restart {
    float: left;
}